body {
    background-color:white;
}
.row {
    background-color:lightgrey;

    margin:20px;
    min-height:100px;
}
.row > div {
    padding:20px;
    border: 1px solid slategrey;
}

.row >div:first-child {
    font-weight:bold;
    font-size:18px;
}



